:root {
	--color-black: #333;
}
.nue_paned-frame {
	display: flex;
}
.nue_paned-frame--vertical {
	flex-direction: column;
}
.nue_paned-frame_divid {
	cursor: grab;
	background: var(--color-black);
}
.nue_paned-frame_divid--horizontal {
	width: 2px;
}
.nue_paned-frame_divid--vertical {
	height: 2px;
}

.nue_honest-table {
	border: 1px solid gray;
}
.nue_honest-table,
.nue_honest-table td {
	user-select: none;
}
.nue_honest-table tr {
	margin: 0;
	padding: 0;
	border: 0;
}
.nue_honest-table thead td:not(:first-child) {
	border-right: 2px solid red;
}
.nue_honest-table tbody td:first-child {
	border-bottom: 2px solid red;
}
.nue_honest-table thead tr td,
.nue_honest-table tbody tr td {
	border: 1px solid gray;
	margin: 0;
	padding: 0;
}
.nue_honest-table td:first-child {
	min-width: 2rem;
}
.nue_honest-table td:not(:first-child) {
	min-width: 50px;
}
.nue_honest-table-cell {
	white-space: pre-line;
	height: 1rem;
}
.nue_honest-entry {
	border: 0;
	/*resize: none;*/
	position: relative;
	top: 2px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
}
.nue_honest-entry:focus {
	outline: none;
}
.nue_honest-head-cell_box {
	display: flex;
	flex-direction: row;
}
.nue_honest-head-cell_data {
	flex: 1;
}
.nue_honest-head-cell-bar--grabbable {
	display: inline-block;
	width: 2px;
	cursor: pointer;
}
.nue_honest-table-row tbody td div {
	display: flex;
	flex-direction: column;
}
.nue_honest-table-row-grab-cell {
	height: 1rem;
}
.nue_honest-table-row-grab-cell_box {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.nue_honest-table-row-grab-cell_data {
	flex: 1;
	display: flex;
	align-items: center;
}
.nue_honest-row-cell-bar--grabbable {
	display: inline-block;
	height: 2px;
	width: 100%;
	cursor: pointer;	
}
.nue_honest-table-cell--select {
	/*border: 1px solid red!important;*/
}
.nue_honest-table-cell:focus {
	border: 1px solid red!important;
	outline: none;
}
.nue_honest-entry {
	border: 0;
	font-size: 1rem;
}
.nue_honest-entry:focus {
	outline: 0;
}
