:root {
	--color-black: #333;
}
.nue_paned-frame {
	display: flex;
}
.nue_paned-frame--vertical {
	flex-direction: column;
}
.nue_paned-frame_divid {
	cursor: grab;
	background: var(--color-black);
}
.nue_paned-frame_divid--horizontal {
	width: 2px;
}
.nue_paned-frame_divid--vertical {
	height: 2px;
}

.nue_honest-table {
	border: 1px solid red;	
}
.nue_honest-table thead {
}
.nue_honest-table thead tr {
}
.nue_honest-table thead td {
}
.nue_honest-head-cell-bar {
}
.nue_honest-head-cell-bar--grabbable {
	display: inline-block;
	height: 1rem;
	width: 2px;
	background: red;	
	cursor: pointer;
}
.nue_honest-table-cell--select {
	border: 1px solid red;
}
.nue_honest-input {
	border: 0;
	font-size: 1rem;
}
.nue_honest-input:focus {
	outline: 0;
}
