:root {
	--color-black: #333;
}
.nue_paned-frame {
	display: flex;
}
.nue_paned-frame--vertical {
	flex-direction: column;
}
.nue_paned-frame_divid {
	cursor: grab;
	background: var(--color-black);
}
.nue_paned-frame_divid--horizontal {
	width: 2px;
}
.nue_paned-frame_divid--vertical {
	height: 2px;
}

.nue_honest-table-cell--select {
	border: 1px solid red;
}
.nue_honest-input {
	border: 0;
	font-size: 1rem;
}
.nue_honest-input:focus {
	outline: 0;
}
